<!--
Hint:
You probably want something that looks like this...
{{#each states}}
	<p><a href= ... ></a></p>
{{/each}}
-->
{{#each states}}
	<p><a href="/state/{{this.[1]}}">{{this.[0]}}</a></p>
{{/each}}
